<mat-toolbar>
    <span>Registro de Eventos Empresa ABC</span>
</mat-toolbar>

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar>Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="loging-form" [formGroup]="formGroup" (ngSubmit)="loginProces()">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button>

        </form>
        <br>
        <form fxLayoutAlign="stretch" fxLayout="column" class="loging-form" [formGroup]="formGroup" (ngSubmit)="createUser()">
            <button mat-raised-button type="submit">Crear Usuario</button>
        </form>
    </mat-card>
</div>