<mat-toolbar>
    <span>Registro de Eventos Empresa ABC</span>
</mat-toolbar>

<div class="panel panel-primary">
    <div class="panel-heading">
        <br>
        <button routerLink="../add" class="btn btn-info" style="margin-left: 10px">Nuevo Evento</button>
        <br>
        <h2 style="text-align: center">Lista de Eventos</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Evento</th>
                    <th>Categoria</th>
                    <th>Lugar</th>
                    <th>Direccion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let event of events | async ">
                    <td>{{event.event_name}}</td>
                    <td>{{event.event_category}}</td>
                    <td>{{event.event_place}}</td>
                    <td>{{event.event_address}}</td>
                    <td>{{event.event_initial_date}}</td>
                    <td>{{event.event_final_date}}</td>
                    <td>{{event.event_type}}</td>
                    <td><button (click)="deleteEvent(event.id) " class="btn btn-danger ">Delete</button>
                        <button (click)="updateEvent(event.id) " class="btn btn-info " style="margin-left: 10px ">Update</button>
                        <button (click)="detailEvent(event.id) " class="btn btn-info " style="margin-left: 10px ">Details</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>